workflows/8Uc21we9BHNBkiQL.json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Agent Healthy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent Healthy",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Agent Healthy",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Phân Tích Dinh Dưỡng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ai Grok": {
      "ai_languageModel": [
        [
          {
            "node": "Phân Tích Dinh Dưỡng",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Phân Tích Dinh Dưỡng",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "add_exercise": {
      "ai_tool": [
        [
          {
            "node": "Phân Tích Dinh Dưỡng",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "add_nutri": {
      "ai_tool": [
        [
          {
            "node": "Phân Tích Dinh Dưỡng",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent Healthy": {
      "main": [
        [
          {
            "node": "Gửi Mail Đánh Giá",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-20T17:05:19.216Z",
  "id": "8Uc21we9BHNBkiQL",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Workflow giúp kiểm soát cân nặng & đo lường calories",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Phân tích chỉ số cơ thể",
        "formDescription": "Nhập các thông tin cần thiết để đo lường sức khỏe bản thân",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Cân năng (kg):",
              "fieldType": "number",
              "placeholder": "60",
              "requiredField": true
            },
            {
              "fieldLabel": "Chiều cao (cm):",
              "fieldType": "number",
              "placeholder": "170",
              "requiredField": true
            },
            {
              "fieldLabel": "Giới tính:",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Nam"
                  },
                  {
                    "option": "Nữ"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Số tuổi hiện tại:",
              "fieldType": "number",
              "placeholder": "18",
              "requiredField": true
            },
            {
              "fieldLabel": "Số cân muốn giảm (kg):",
              "fieldType": "number",
              "placeholder": "5",
              "requiredField": true
            },
            {
              "fieldLabel": "Thời gian để giảm cân (ĐVT: Tháng)",
              "fieldType": "number",
              "placeholder": "5",
              "requiredField": true
            },
            {
              "fieldLabel": "Tần suất vận động hiện tại:",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Ít vận động (hầu như không vận động, làm việc văn phong, đi bộ)"
                  },
                  {
                    "option": "Vận động nhẹ (đi bộ, yoga, thể dục nhẹ từ 1-3 lần/tuần)"
                  },
                  {
                    "option": "Vận động vừa (chạy bộ, tập gym, bơi lội, thể thao) 3-5 lần/tuần"
                  },
                  {
                    "option": "Vận động nhiều Tập luyện cường độ cao (chạy dài, tập gym nặng, thể thao chuyên sâu) 6-7 lần/tuần"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Nhập email của bạn để nhận kết quả:",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Thông tin khác:",
              "placeholder": "=(VD: bạn bị tiểu đường, nhịp tim nhanh.v.v.v.)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -860,
        180
      ],
      "id": "d926aa27-6754-4be6-9475-873ff77c4754",
      "name": "On form submission",
      "webhookId": "6445b7bb-3507-4458-8737-43e727cc400d"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "grok-2-vision-1212",
          "mode": "list",
          "cachedResultName": "grok-2-vision-1212"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -740,
        360
      ],
      "id": "57c427e4-f1d0-4c8c-87a7-1623eea923ae",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "t5unl1j6F0VkVRZZ",
          "name": "Grock"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -480,
        360
      ],
      "id": "4023ec33-487a-4025-a484-674c9c34bbb4",
      "name": "Calculator"
    },
    {
      "parameters": {
        "content": "## Nhận mail tư vấn sức khỏe",
        "height": 400,
        "width": 760,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        100
      ],
      "typeVersion": 1,
      "id": "2a894841-5c4c-40cb-aeec-4a9c7b5a1180",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -880,
        600
      ],
      "id": "c1834b5b-a502-4c10-af35-e27b159ed230",
      "name": "When chat message received",
      "webhookId": "e70767d6-f2a3-4d72-861f-ce7b10a58d52"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=#Overview:\n- Bạn là AI trợ lý sức khỏe, đặc biệt am hiểu về dinh dưỡng cơ thể và các hoạt động thể chất.\n\n#Công cụ:\n- 'add_nutri: Gọi công cụ này khi nội dung input liên quan đến dinh dưỡng\n- 'add_exercise': Gọi công cụ này khi nội dung input liên quan đến luyện tập thể chất\n\n#Quy tắc:\n- Luôn gọi 1 trong 2 công cụ trên khi giao tiếp\n- Phân tích ngữ cảnh rõ ràng trước khi dùng công cụ, đảm bảo độ chính xác"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -680,
        600
      ],
      "id": "15193ac6-5d86-4ee3-ad09-046854c46a8c",
      "name": "Phân Tích Dinh Dưỡng"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "grok-3",
          "mode": "list",
          "cachedResultName": "grok-3"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -740,
        780
      ],
      "id": "278a3d66-a788-4a62-937d-ace61178ff4f",
      "name": "Ai Grok",
      "credentials": {
        "openAiApi": {
          "id": "t5unl1j6F0VkVRZZ",
          "name": "Grock"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -620,
        780
      ],
      "id": "e12a47dd-0f4f-43a4-a2c9-0ed708654172",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "name": "add_exercise",
        "description": "Gọi công cụ này khi nội dung input liên quan đến luyện tập thể chất",
        "workflowId": {
          "__rl": true,
          "value": "rE4sTVvHH77f3xLH",
          "mode": "list",
          "cachedResultName": "Add Exercise"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -460,
        800
      ],
      "id": "9cd601e2-5a3e-4821-89fc-3060a7a4e27c",
      "name": "add_exercise"
    },
    {
      "parameters": {
        "name": "add_nutri",
        "description": "Gọi công cụ này khi nội dung input liên quan đến dinh dưỡng",
        "workflowId": {
          "__rl": true,
          "value": "AWqEPvCGA7vZktsY",
          "mode": "list",
          "cachedResultName": "Addnutri"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        -340,
        780
      ],
      "id": "8d36880b-952e-4935-8eb0-35b9faefb44c",
      "name": "add_nutri"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json[\"Nhập email của bạn để nhận kết quả:\"] }}",
        "subject": "=[Trợ lý sức khỏe] Kế hoạch giảm {{ $('On form submission').item.json['Số cân muốn giảm (kg):'] }} kg trong {{ $('On form submission').item.json['Thời gian để giảm cân (ĐVT: Tháng)'] }} tháng - Bắt đầu từ {{ $now.format('dd-MM-yyyy') }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -380,
        180
      ],
      "id": "f61875cf-bc0c-4e72-8c00-e55d5a83b9ea",
      "name": "Gửi Mail Đánh Giá",
      "webhookId": "e4a32a65-4d6d-4f13-95f8-88be16b6b6cb",
      "credentials": {
        "gmailOAuth2": {
          "id": "kjSAtyf93CfWowLV",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Thông tin người dùng:\nGiới tính: {{ $json['Giới tính:'] }}\nCân nặng (kg): {{ $json['Cân năng (kg):'] }}\nChiều cao (cm): {{ $json['Chiều cao (cm):'] }}\nSố tuổi hiện tại: {{ $json['Số tuổi hiện tại:'] }}\nSố cân muốn giảm (kg): {{ $json['Số cân muốn giảm (kg):'] }}\nThời gian để giảm (tháng): {{ $json['Thời gian để giảm cân (ĐVT: Tháng)'] }}\nTần suất vận động hiện tại: {{ $json['Tần suất vận động hiện tại:'] }}\nThông tin khác cần chú ý: {{ $json['Thông tin khác:'] }}",
        "options": {
          "systemMessage": "=## Overview:\nBạn là một trợ lý AI chuyên về dinh dưỡng và sức khỏe, có nhiệm vụ tính toán và phân tích các chỉ số sức khỏe một cách chính xác và khoa học. Khi nhận được thông tin cá nhân, bạn phải thực hiện các bước tính toán sau:\n\n## Công cụ:\n- `Calculator`: Dùng để tính toán khi cần thiết.\n# Hướng dẫn:\n1. TÍNH TOÁN CHỈ SỐ BMI\n   - Sử dụng công thức: Cân nặng (kg) / (Chiều cao (m))²\n   - Phân loại theo tiêu chuẩn WHO\n   - Đánh giá mức độ cân nặng\n\n2. TÍNH NĂNG LƯỢNG CHUYỂN HÓA CƠ BẢN (BMR)\n   - Sử dụng công thức Mifflin-St Jeor\n   - Áp dụng công thức riêng cho Nam/Nữ\n   - Tính toán năng lượng cơ bản mỗi ngày\n\n3. TỔNG NĂNG LƯỢNG TIÊU THỤ HÀNG NGÀY (TDEE)\n   - Nhân BMR với hệ số hoạt động\n   - Xác định mức năng lượng dựa trên tần suất và cường độ vận động\n\n4. KẾ HOẠCH GIẢM CÂN\n   - Tính toán năng lượng tiêu thụ để giảm cân\n   - Đảm bảo giảm cân an toàn và bền vững\n   - Dự báo thời gian đạt mục tiêu\n\nYÊU CẦU BỔ SUNG:\n- Cung cấp số liệu chính xác của từng chỉ số, tuy nhiên không cần show details cách tính toán\n- Đưa ra lời khuyên dinh dưỡng và vận động phù hợp\n- Nội dung phải bao gồm lời khuyên về số calories trung bình nên hấp thụ và số calories trung bình nên tiêu tốn (thông qua luyện tập) mỗi ngày để đạt mục tiêu\n- Gửi kèm gợi ý dinh dưỡng và gợi ý bài tập \n(VD: Sáng ăn 1 quả trứng hoặc Đi bộ 30 phút/lần, 1 tuần 2 lần)\n- Đảm bảo an toàn và hiệu quả trong quá trình giảm cân\n\nNGUYÊN TẮC:\n- Mỗi kế hoạch đều phải được cá nhân hóa\n- Ưu tiên sức khỏe và dinh dưỡng toàn diện\n- Khuyến khích thay đổi lối sống lành mạnh\n- Output trả ra phải ở định dạng HTML để có thể gửi qua mail. \n- Gợi ý dinh dưỡng và gợi ý bài tập phải là dạng bảng\n- Người gửi là \"Chị Ba Linda - Trợ lý sức khỏe\"\n\nLƯU Ý:\n- Người dùng chủ yếu đến từ Việt Nam, nên các nội dung phải phù hợp với đặc điểm văn hóa - xã hội người dùng"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -700,
        180
      ],
      "id": "256a753a-b047-4542-b843-1d36bf247258",
      "name": "Agent Healthy"
    },
    {
      "parameters": {
        "content": "## Ghi chú lịch sử sức khỏe",
        "height": 380,
        "width": 780
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -900,
        540
      ],
      "typeVersion": 1,
      "id": "9254071e-a606-41b2-8b7b-8f57078d6890",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "https://www.youtube.com/watch?v=YPjxH5L9UKk",
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        360,
        -220
      ],
      "typeVersion": 1,
      "id": "a69a70a4-7fce-4141-a1f0-f4c1216f19e7",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-05-20T17:05:19.221Z",
      "updatedAt": "2025-05-20T17:05:19.221Z",
      "role": "workflow:owner",
      "workflowId": "8Uc21we9BHNBkiQL",
      "projectId": "quf7HR2xEtUzOS9Z"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-05-20T17:04:56.006Z",
      "updatedAt": "2025-05-20T17:04:56.006Z",
      "id": "cWKBR33umyAidM1W",
      "name": "Calories"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-06-04T06:21:03.000Z",
  "versionId": "2db7513c-1230-4afe-b266-ff2f1b717bbc"
}